
p.link-read-post {
	text-align: right;
	margin-right: 3%;
}
p.link-read-post a {
	padding: 10px;
	min-width: 100px;
	background: #4783d1;
	color: #fff;
	text-decoration: none;
}
.heading{
    font-weight: bold;
    font-size: larger;
    color: rgb(127, 200, 203);
}
