{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dev Search{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'projects/css/projects.css' %}">
    {% block css_addtional %} {% endblock %}
</head>
<h1> In our DevSearchProject we have project page that shows single project with id.</h1>
<body>
    {% include 'header.html' %}

{% block content %}
    <p>test content</p>
    {% endblock content%}
    
    <p class="footer">Thank you for visiting this page!</p>

</body>
</html>


